* {
    padding: 0;
    margin: 0;
}

.a-center {
    align-items: center;
}


.flex {
    display: flex;

    &-wrap {
        flex-wrap: wrap;
    }
}

.jc {
    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}